<%- include("template/cabecera", {tituloWeb: 'Error'}) %>

    <center><h1><%= titulo %></h1></center>
<center><img src="https://img.freepik.com/vector-gratis/gato-triste-lunes-azul_71767-68.jpg?t=st=1658462160~exp=1658462760~hmac=c9f0088b974ac256c79b2e08a1f6e012c1ad88c458f0020733aebfac2e0852af&w=740" alt="" srcset=""></center>

<%- include("template/footer") %>
