.ce {
    text-align: center;

}
.et{
background-image: url(https://img.freepik.com/foto-gratis/cachorro-gris-veterinario_329181-10410.jpg?w=740&t=st=1659110552~exp=1659111152~hmac=20de9fa857d8534a3afabe5e0bad3bf4f01b73bc363a747247201aaf1b5cbabb);
background-repeat: no-repeat;
background-size: 100rem;
height: auto;
}